*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
/repository/viewpagerindicator/build/
/repository/viewpagerindicator/build/generated/source/buildConfig
/repository/viewpagerindicator/build/generated/source/r
